<div style="background-color: #c9f8e8; padding: 1rem 0;">
	<div style="text-align: center;">
		<a style="text-decoration:none; margin: 0 0.5rem;" href="https://github.com/ellesmate" target="_blank">
			<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" width="40px">
            </a>
	</div>
	<div style="text-align: center; padding: 0.5rem 0 0 0; font-family: 'Nunito', sans-serif;">
		&copy; E-Shopdotnet {{ 'Now' | date: 'yyyy' }}
	</div>
</div>