<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800;900&display=swap" rel="stylesheet">
<div style="background-color: #c9f8e8; width: 100%; padding: 2rem 0 0 0;">
	<table style="margin: 0 auto;">
		<tbody>
			<tr>
				<td style="font-size: 2rem; padding: 0 5rem;">
					<div style="text-align: center; position: relative">
						<div style="font-family: 'Nunito', sans-serif;">
							<b>E-Shop</b>dotnet
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>