@page
@model Shop.UI.Pages.Accounts.LoginModel
@{
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form method="post" class="box">
                        <div class="field">
                            <label for="" class="label">Username</label>
                            <div class="control has-icons-left">
                                <input class="input" placeholder="e.g. bobsmith" asp-for="Input.Username" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" placeholder="*******" class="input" asp-for="Input.Password" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <div class="field">
                            <input class="button is-success" type="submit" name="name" value="Login" />
                        </div>
                    </form>

                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <a href="/Accounts/Register">Create an Account</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>