@page
@model Shop.UI.Pages.Accounts.RegisterModel
@{
}


<form method="post">
    <input asp-for="Input.Username" />
    <input asp-for="Input.Email" />
    <input type="password" asp-for="Input.Password" />
    <input type="submit" name="name" value="Sign in" />
</form>