@page
@model Shop.UI.Pages.Accounts.ResetPasswordModel
@{
}


<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">

                    <form method="post">
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input" placeholder="e.g. bobsmith@gmail.com" asp-for="Input.Email" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <input class="button is-success" type="submit" name="name" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>