@page "{id}"
@model Shop.UI.Pages.Support.ChatModel
@{
}

<div class="chat-body has-slimscroll">
    @foreach (var message in Model.Chat.Messages)
    {
        <div class="message">
            <header>@message.Name:</header>
            <p>@message.Text</p>
            <footer>@message.Timestamp.ToLocalTime()</footer>
        </div>
    }
</div>
<form class="chat-input" onsubmit="sendMessage(event)" method="post">
    <input type="hidden" name="roomId" value="@Model.Chat.Id" />
    <input type="text" name="message" id="message-input" />
    <button type="submit">Send</button>
</form>


@section scripts {
    <script src="~/lib/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();
        var _connectionId = '';
        var chatBody = document.querySelector(".chat-body");
        chatBody.scrollTop = chatBody.scrollHeight;

        connection.on("ReceiveMessage", function (data) {
            console.log("received");

            var message = document.createElement("div");
            message.classList.add("message");

            var header = document.createElement("header");
            header.appendChild(document.createTextNode(data.name + ':'));

            var p = document.createElement("p");
            p.appendChild(document.createTextNode(data.text));

            var footer = document.createElement("footer");
            var date = new Date(data.timestamp)
            footer.appendChild(document.createTextNode(date.toLocaleDateString() + ' ' + date.toLocaleTimeString()));

            message.appendChild(header);
            message.appendChild(p);
            message.appendChild(footer);

            console.log(data)
            chatBody.append(message);
            chatBody.scrollTop = chatBody.scrollHeight;
        });

        var joinRoom = function () {
            var url = '/Chat/JoinRoom/' + _connectionId + '/@Model.Chat.Id';
            axios.post(url, null)
                .then(function (res) {
                    console.log("Room Joined!", res);
                })
                .catch(err => {
                    console.log("Failed to join room!", err);
                });
        }

        connection.start()
            .then(function () {
                connection.invoke('getConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId;
                        joinRoom();
                    })
            })
            .catch(function (err) {

            })

        var sendMessage = function (event) {
            event.preventDefault();

            var data = new FormData(event.target);
            document.getElementById('message-input').value = '';

            axios.post('/Chat/SendMessage', data)
                .then(function (res) {
                    console.log("message Send!", res);
                })
                .catch(err => {
                    console.log("message Send!", err);
                });
        }


    </script>
}