@model IEnumerable<Chat>

<div>
    @foreach (var chat in Model)
    {
        var message = chat.Messages.LastOrDefault()?.Text ?? "";

        <a asp-page="Chat" asp-route-id="@chat.Id">
            <div class="card chat-card mb-4">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">@chat.Name</p>
                            <p class="subtitle is-6">@message</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>